/*
 * Component: Info Box
 * -------------------
 */
 .info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 15px;
    background-color: #ead0d1;
  }
  .info-box small {
    font-size: 14px;
  }
  .info-box .progress {
    background: rgba(0, 0, 0, 0.2);
    margin: 5px -10px 5px -10px;
    height: 2px;
  }
  .info-box .progress,
  .info-box .progress .progress-bar {
    border-radius: 0;
  }
  .info-box .progress .progress-bar {
    background: #fff;
  }
  .info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0, 0, 0, 0.2);
  }
  .info-box-icon > img {
    max-width: 100%;
  }
  .info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
  }
  .info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
  }
  .progress-description,
  .info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .info-box-text {
    text-transform: uppercase;
  }
  .info-box-more {
    display: block;
  }
  .progress-description {
    margin: 0;
  }
  
/*
 * Component: Small Box
 * --------------------
 */
.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #965454;
}
.small-box > .inner {
padding: 10px;
}
.small-box > .small-box-footer {
position: relative;
text-align: center;
padding: 3px 0;
color: #fff;
color: rgba(255, 255, 255, 0.8);
display: block;
z-index: 10;
background: rgba(0, 0, 0, 0.1);
text-decoration: none;
}
.small-box > .small-box-footer:hover {
color: #fff;
background: rgba(0, 0, 0, 0.15);
}
.small-box h3 {
font-size: 38px;
font-weight: bold;
margin: 0 0 10px 0;
white-space: nowrap;
padding: 0;
}
.small-box p {
font-size: 15px;
}
.small-box p > small {
display: block;
color: #f9f9f9;
font-size: 13px;
margin-top: 5px;
}
.small-box h3,
.small-box p {
z-index: 5;
}
.small-box .icon {
-webkit-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
transition: all 0.3s linear;
position: absolute;
top: -10px;
right: 10px;
z-index: 0;
font-size: 90px;
color: rgba(0, 0, 0, 0.15);
}
.small-box:hover {
text-decoration: none;
color: #f9f9f9;
}
.small-box:hover .icon {
font-size: 95px;
}
@media (max-width: 767px) {
.small-box {
    text-align: center;
}
.small-box .icon {
    display: none;
}
.small-box p {
    font-size: 12px;
}
}