.seachBtn{ width: 150px; float: left; margin-left: 35px;}
.seachBtn .btn{ width: 150px; }
.projectId{width: 400px; float: left;}
.projectName{width: 400px; float: left;}
.roleSel{float: right; width: 200px;}